<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="destacados">
      <ion-icon name="newspaper-outline"></ion-icon>   
      <ion-label>Destacados</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="ultima-hora">
      <ion-icon name="ellipse-outline"></ion-icon>
      <ion-label>Última hora</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="mis-noticias">
      <ion-icon name="person-add-outline"></ion-icon>
      <ion-label>Mis noticias</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
