<ion-content [scrollEvents]="true" (ionScroll)="logScrolling($event)">
  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content> </ion-refresher-content>
  </ion-refresher>
  <br />

  <ion-card *ngFor="let news of data">
    <img [src]="news.urlImagen" />
    <ion-card-header>
      <ion-card-subtitle>
        {{ converTime(news.createdAt) }}
        <span>
          <ion-icon
            *ngIf="isAdmin || userID === news.userID"
            class="ion-margin-end"
            slot="icon-only"
            (click)="handleBorrar(news)"
            name="trash-outline"
          ></ion-icon>
          <ion-icon
            slot="icon-only"
            [color]="getColorBoton(news.vote, false)"
            (click)="gestionVotar(news, false)"
            name="remove-circle-outline"
          ></ion-icon>
          {{ news.countLikes - news.countDislikes }}
          <ion-icon
            slot="icon-only"
            [color]="getColorBoton(news.vote, true)"
            (click)="gestionVotar(news, true)"
            name="add-circle-outline"
          ></ion-icon
        ></span>
      </ion-card-subtitle>
      <ion-card-title (click)="openWeb(news.url)">{{ news.titulo }}</ion-card-title>
    </ion-card-header>
  </ion-card>
  <ion-infinite-scroll threshold="100px" (ionInfinite)="loadData($event)">
    <ion-infinite-scroll-content loadingSpinner="bubbles" loadingText="Loading more data...">
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>
